<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>תוצאות הניתוח</title>
    <link rel="stylesheet" href="/static/style3.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TDYB8414JK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-TDYB8414JK');
    </script>
</head>
<body>
<div class="end">
    <h1>והחופר הגדול הוא... 🏆</h1>

    <h2 class="winner">{{ winner_name }}</h2>
    <p>עם כמות אדירה של <strong>{{ count }}</strong> הודעות!</p>

    <a href="/" class="back-btn">ניתוח צ'אט נוסף</a>
</div>
</body>
</html>


