<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>מי הכי חופר?</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="card">
    <h1>מי הכי חופר בקבוצה?</h1>
    <h2>בדקו מה הכי חופר בקבוצת הוואטספ שלכם!</h2>
    <p>היכנסו לקבוצת הוואטספ שלכם ולחצו על כפתור ה3 נקודות. לאחר מכן לחצו על 'עוד' ואז על ייצוא הצ'אט ⛏️</p>
    <p>ייפתח לכם שתי אפשרויות: לא לכלול מדיה או כן לכלול מדיה, לחצו על לא לכלול. חכו כמה דקות עד שהקובץ יהיה מוכן ⌛</p>
    <p>אחרי שהוא מוכן, שלחו אותו לעצמכם בוואאטספ (או במייל) פתחו את קובץ הZIP שלכם וחלצו משם את קובץ ששמו הוא שם הצ'אט שלכם ועם סיומת txt. 📦</p>

    <form action="/cda" method="POST">
        <button type="submit" class="continue">חילצתי את הקובץ קח אותי לבדוק מי הכי חופר! 😀</button>
    </form>

</div>


</body>
</html>